* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(#5041d7, #2b88d4);
}

a {
    text-decoration: none;
    color: #333;
}

/* nav */

nav {
    height: 10vh;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    padding-top: 10px;
}
h1 {
    margin-left: 10px;
}
.nav-links {
    margin-right: 10px;
}
li {
    list-style: none;
}

h1 {
    color: #fff;
}

li {
    color:#fff
}

/* pair */

.pair {
    display: flex;
    background-color: #eee;
    width: 80%;
    margin: 5px 10%;
    height: 150px;
}
.pair-text {
    width: 50%;
    padding: 10px;
}
.pair-img {
    display: flex;
    width: 50%;
}
.pair-img img {
    height: 140px;
    object-fit: contain;
    margin: 5px 10px;
}
.width {
    width: 7.7vw;
}

.bold {
    font-weight: bold;
}

/* movie */
.box {
    width: 60vw;
    height: 40vh;
    background-color: #eee;
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: #333 1px solid;
}
.box2 {
    width: 80vw;
    height: 60vh;
    background-color: #eee;
    z-index: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: #333 1px solid;
    text-align: center;
    overflow-y: auto;
}
.box2 p {
    margin: 15px;
    font-weight: bold;
}
.item {
    margin: 15px 30px;
}
textarea {
    margin: 10px;
}
.button-area {
    margin-bottom: 15px;
}
.hidden {
    display: none;
}
.hidden2 {
    z-index: 2;
    display: none;
}
.hidden3 {
    z-index: 3;
    display: none;
}
.test {
    text-align: center;
    padding: 20px;
    z-index: 2;
}
.finish {
    font-weight: bold;
    margin: 15px;
}
.read {
    display: block;
    border: #333 1px solid;
    border-radius: 5px;
    height: 12vh;
    width: 30vw;
    background-color: #e6e6e6;
    box-shadow: 1px 1px 1px #333;
    margin: auto;
    margin: 5% auto;
    padding-top: 5%;
}
.nextdiv {
    display: block;
    width: 100vw;
    margin-top: 30vh;
}
.nextBtn {
    border: #333 1px solid;
    border-radius: 5px;
    background-color: #e6e6e6;
    box-shadow: 1px 1px 1px #333;
    padding: 5%;
    width: 20vw;
    margin-left: 35vw;
}
.read:hover {
    background-color: #d2d2d2;
    box-shadow: none;
    transition: all .5s;
}
.question {
    text-align: center;
    height: 4vh;
}


/* clear */
.clear {
    margin: 5vh auto 3vh auto;
    height: 10vh;
    border: #fff 1px solid;
    width: 90vw;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
}

/*
text
*/
.text-box {
    z-index: 3;
    width: 80vw;
    height: 80vh;
    background-color: #fff;
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -50%);
    border: #333 1px solid;
    overflow-y: scroll;
    text-align: center;
    padding-top: 30px;
}
.syuwa-pic {
    height: 60%;
    width: 40%;
    margin: 5px 10%;
    overflow: hidden;
}

@media screen and (max-width: 650px) {
    .bold {
        font-size: 0.8em;
    }
    .pair-text p {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 540px) {
    .bold {
        font-size: 0.7em;
    }
    .pair-text p {
        font-size: 0.7em;
    }
}
@media screen and (max-width: 500px) {
    h1 {
        font-size: 1.5em;
    }
    ul li {
        font-size: 0.8em;
    }
    .text-box p {
        font-size: 0.6em;
    }
    .pair {
        display: block;
        height: 240px;
    }
    .pair-text {
        width: 100%;
        padding: 10px;
    }
    .pair-img {
        display: flex;
        width: 100%;
    }
    .pair-img img {
        height: 140px;
        object-fit: contain;
        margin: 5px 10px;
    }
    .width {
        width: 17vw;
    }
}

/* 
first-box
*/

.first-box {
    margin: 7vh 10vw 0 10vw;
    width: 80vw;
    height: 70vh;
    text-align: center;
    background-color: #fff;
}
h2 {
    font-size: 30px;
    color: #5041d7;
    padding: 5px;
}
.first-box p {
    margin: 10px;
    margin-bottom: 25px;
}
.first-box a {
    border: #333 1px solid;
    border-radius: 5px;
    padding: 7px;
    background-color: #e6e6e6;
    box-shadow: 1px 1px 1px #333;
}
.first-box a:hover {
    background-color: #d2d2d2;
    box-shadow: none;
    transition: all .5s;
}

/*
タイマー
*/

.timer {
    display: flex;
    position: absolute;
    background-color: #fff;
    height: 50px;
    width: 150px;
    z-index: 4;
    border: #333 1px solid;
    font-size: 20px;
    padding: 7.5px;
    border-radius: 5px;
}